<ul class="menu">
    <li><a href=""><img class="icon" src="favicon.ico">
        </a>
    </li>
    <li><a href=""><img class="imgbasket"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZsE53vPE4Z7noj2X10-O2CDkjJ-AAzYab5A&usqp=CAU">
        </a>
    </li>
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="recipes">Recipes</a></li>
    <li><a routerLink="login">Login</a></li>
    <li><a routerLink="register">Sign Up</a></li>
    <li><button type="button" (click)="logout()">Logout</button></li>
</ul>

<router-outlet></router-outlet>