<header>
    <h1>List of recipes</h1>
</header>
<div class="listrecipes">
    <ul class="countryandcategory">
        <li>
            <label for="">Country</label>
            <select (change)="changeFilterCountry($any($event).target.value)" (click)="filterItems()" class="countries">
                <option *ngFor="let country of countries" value="{{ country }}">{{ country }}</option>
            </select>

        </li>
        <li>
            <label for="">Category</label>
            <select (change)="changeFilterCategory($any($event).target.value)" (click)="filterItems()" class="category">
                <option *ngFor="let category of categories" value="{{ category }}">{{ category }}</option>
            </select>
        </li>
    </ul>

    <div *ngIf="notEmpty()" class="container">
        <div *ngFor="let recipe of filteredItems">
            <img [src]="recipe.image" alt="Recipe Image">
            <h3>{{ recipe.name }}</h3>
            <p>{{ recipe.description }}</p>
            <label>Ingredients:</label>
            <label *ngFor="let ingredient of recipe.ingredients|keyvalue">
                {{ ingredient.key }}, {{ ingredient.value }}
            </label>
            <p>Steps: {{ recipe.steps }}</p>
            <p>Nationality: {{ recipe.national }}</p>
            <p>Category: {{ recipe.category }}</p>
            <p>Is Chosen: {{ recipe.ischoosen }}</p>
            <p>Is Liked: {{ recipe.islike }}</p>
            <!-- <button class="buttonbasket" (click)="ischose(recipe)"><img style="width: 20px; height: 20px"
                    [src]=ischosenimg(recipe)></button>
            <button class="islove" (click)="islove(recipe)"><img style="width: 20px; height: 20px"
                    [src]="isloveimg(recipe)"></button> -->
            <button (click)="likeRecipe(recipe.id, recipe.islike)"><img style="width: 20px; height: 20px"
                    [src]="isloveimg(recipe)"></button>
        </div>
    </div>
</div>