<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="./login.component.css">
</head>

<body>
  <div class="container">
    <form class="login-form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <h1>Login</h1>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required formControlName="password">
      </div>
      <button type="submit">Sign In</button>
      <p>Not a member yet? <a href="register">Sign up</a></p>
    </form>
  </div>
  <!--  <script src="login.ts"></script>-->
</body>

</html>