<h1>Lessons</h1>

<!--TWO SIDE BINDING-->
<!--&lt;!&ndash;<input type="text" [value]="title" (input)="onInput($event)">&ndash;&gt;-->
<!--<input type="text" [(ngModel)]="title"> &lt;!&ndash; The same as previous &ndash;&gt;-->
<!--<p><strong>{{ title }}</strong></p>-->

<!--NGSTYLE-->
<!--<button (click)="toggle = !toggle" >Toggle</button>-->
<!--<div [ngStyle]="{-->
<!--  width: '200px',-->
<!--  height: '200px',-->
<!--  borderRadius: '5px',-->
<!--  border: '1px solid #ccc',-->
<!--  background: backToggle ? 'red' : 'blue'-->
<!--}" >-->
<!--</div>-->

<!--NgClass-->
<!--<button (click)="toggle = !toggle" >Toggle</button>-->
<!--<p [ngClass]="{-->
<!--  red: toggle,-->
<!--  blue: !toggle-->
<!--}">Lorem10 </p>-->


<!--NgIf-->
<!--<button (click)="toggle = !toggle" >Toggle</button>-->
<!--<p *ngIf="!toggle; else blueP" class="blue">blue</p>-->
<!--<ng-template #blueP>-->
<!--  <p *ngIf="toggle" class="red">red</p>-->
<!--</ng-template>-->


<!--NgSwitch-->
<!--<button (click)="toggle = !toggle" >Toggle</button>-->
<!--<button (click)="toggle = 111" >Set</button>-->
<!--<div [ngSwitch]="toggle">-->
<!--  <p *ngSwitchCase="true" class="red">Red</p>-->
<!--  <p *ngSwitchCase="false" class="blue">Blue</p>-->
<!--  <p *ngSwitchDefault>None of them</p>-->
<!--</div>-->


<!--NgFor-->
<!--<ul>-->
<!--  <li *ngFor="let item of arr; let idx = index">-->
<!--    {{idx + 1}} <strong>{{item}}</strong>-->
<!--  </li>-->
<!--</ul>-->

<!--<ul style="list-style: none">-->
<!--  <li *ngFor="let p of obj">-->
<!--    <p>{{p.title}}: <b>{{p.author}}</b> </p>-->

<!--    <ul>-->
<!--      <li *ngFor="let item of p.comments">-->
<!--        <strong>{{item.name}} - <small>{{item.text}}</small> </strong>-->

<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->



<!--PIPES-->
